<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://${OPENSHIFT_MYSQL_DB_HOST}:${OPENSHIFT_MYSQL_DB_PORT}/${OPENSHIFT_APP_NAME}</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="connection.pool_size">1000</property>
        <property name="hibernate.connection.username">${OPENSHIFT_MYSQL_DB_USERNAME}</property>
        <property name="hibernate.connection.password">${OPENSHIFT_MYSQL_DB_PASSWORD}</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        
        <mapping class="br.com.kadesh.model.Computador"/>
        <mapping class="br.com.kadesh.model.Estacao"/>
        <mapping class="br.com.kadesh.model.Maquina"/>
        <mapping class="br.com.kadesh.model.Servico"/>
        <mapping class="br.com.kadesh.model.Servidor"/>
        <mapping class="br.com.kadesh.model.ServidorFisico"/>
        <mapping class="br.com.kadesh.model.ServidorVirtual"/>
        <mapping class="br.com.kadesh.model.Setor"/>
        <mapping class="br.com.kadesh.model.SistemaOperacional"/>
        <mapping class="br.com.kadesh.model.Usuario"/>
        <mapping class="br.com.kadesh.model.Cargo"/>
        <mapping class="br.com.kadesh.model.Programa"/>

        
        
    </session-factory>
</hibernate-configuration>
